<?xml version="1.0" encoding="UTF-8"?>
<package xmlns="http://www.idpf.org/2007/opf"
         version="3.0"
         unique-identifier="uid"
         prefix="rendition: http://www.idpf.org/vocab/rendition/#">
  <metadata xmlns:dc="http://purl.org/dc/elements/1.1/">
    <dc:identifier id="uid">bobiverse-dict-book-{{ target_book }}</dc:identifier>
    <dc:title>Bobiverse Dictionary — Book {{ target_book_label }}</dc:title>
    <dc:language>en</dc:language>
    <dc:creator>Bobiverse Dictionary Builder</dc:creator>
    <meta property="dcterms:modified">{{ modified }}</meta>
  </metadata>
  <manifest>
    <item id="dictionary"
          href="dictionary.xhtml"
          media-type="application/xhtml+xml"
          properties="dictionary"/>
    <item id="ncx"
          href="toc.ncx"
          media-type="application/x-dtbncx+xml"/>
  </manifest>
  <spine toc="ncx">
    <itemref idref="dictionary"/>
  </spine>
</package>
